/* ============================================ */
/* -------------------biglaptop------------------- */
/* ============================================ */

@media screen and (min-width: 1560px) {
    
    #navbar {
        transform: scale(1.2);
    }

    #hero-section {
        transform: scale(1.3);
        margin: 6rem 0;
    }


    #support {
        transform: scale(1.3);
        margin: 12rem 0 16rem;
    }

    #about {
        transform: scale(1.3);
        margin: 10rem 0;
    }
    #sub {
        transform: scale(1.3);
        margin: 10rem 0;
    }

    #sponsors-and-partners {
        transform: scale(1.3);
        padding: 10rem 0;
    }

    #register {
        transform: scale(1.3);
        padding: 10rem 0;
    }

    #testimonials {
        transform: scale(1.3);
        padding: 14rem 0;
    }

    footer {
        transform: scale(1.3);
        margin-bottom: 5rem;
        padding-top: 8rem;
    }
    
    #last {
        transform: scale(1.3);
    }

}






/* ============================================ */
/* -------------------MOBILE------------------- */
/* ============================================ */


@media screen and (max-width: 476px) {

    body {
        background-color: #3fffca;
    }

    .circle {
        display: none;
    }

    #background {
        display: none;
    }

    #mlh-trust-badge {
        display: block;
        max-width: 50px;
        min-width: 50px;
        position: fixed;
        left: 40px;
        top: 0;
        width: 10%;
        z-index: 10000
    }

    /*---------------------------------- socials ----------------------------------*/

    #socials {
        z-index: 69;
        top: 450px;
        left: 400px;
        bottom: 0px;
        opacity: 100%;
        transition: 0.3s all ease;
        animation: none;
        transform: rotate(-90deg);
        margin-top: 10rem;
    }
    
    #socials .cont {
        flex-direction: column;
    }
    
    #socials .cont a i {
        transform: rotate(90deg);
    }


    /*---------------------------------- socials ----------------------------------*/

    #countdown {
        padding: 5rem 0 0rem;
    }

    /*---------------------------------- navbar ----------------------------------*/

    nav {
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column-reverse;
    }

    .nav-logo {
        width: 3.5rem;
        height: 3.5rem;
        transition: 0.4s all ease-in-out;
        border-radius: 50% 50% 50% 50%;
        margin-top: 1rem;
        /* border: 1px solid green; */
        position: relative;
        right: 20px;
    }

    .nav-logo img {
        width: 80%;
    }    
    
    .nav-logo img:hover {
        transform: rotate(0deg);
    }

    .rotate {
        transform: rotate(180deg);
        transition: 0.4s all ease-in-out;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        position: absolute;
        gap: 1.5rem;
        width: 0;
        padding: 0rem 1rem;
        height: 0;
        opacity: 0;
        border-radius: 100%;
        transition: 0.3s all ease-in-out;
    }

    .work-msg {
        position: absolute;
        width: 40vw;
        /* white-space: nowrap; */
        top: -8px;
        left: 50px;
        transform: scale(60%);
        padding: 0.5rem 1rem;
        background-color: #FFF;
        color: #252525;
        /* border: 1px solid black; */
        border-radius: 10px;
        visibility: hidden;
        transition: 0.3s all ease;
    }
    
    .nav-list-visible {
        height: 350px;
        width: 100%;
        opacity: 0.65;
        margin: 3rem 0 0.8rem;
        border-radius: 20px;
        transition: 0.3s all ease-in-out;
    }

    /*---------------------------------- navbar ----------------------------------*/


    /*---------------------------------- Hero section ----------------------------------*/


    #hero-section-phone {
        display: none;
    }

    .phone-head-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .main-head-phone {
        margin: 2rem 1rem;
        display: flex;
        width: 90vw;
    }

    .brand-style {
        font-weight: 600;
    }

    .phone-head-cont h1 {
        margin: 0 1.5rem;
        line-height: 1.2;
    }

    .main-point {
        text-align: center;
        font-size: 1.3rem;
        padding-left: 3rem;
    }
    
    #hero-section-phone .main-point {
        text-align: center;
        animation: none;
        animation-delay: 0ms;
        right: 0;
        bottom: 0;
        position: relative;
        line-height: 0.5;
        font-size: 1rem;
    }

    /*----------------------------------- hero section phone -----------------------------------*/



    /*----------------------------------- hero section -----------------------------------*/

    #hero-section .row {
        transform: scale(50%);
    }

    .heroback {
        display: none;
    }

    #hero-section {
        /* border: 1px solid red; */
        /* max-height: 608px; */
        height: 80vh;
    }

    #hero-section .pd-cont {
        bottom: 20px;
        max-height: 708px;
        /* border: 1px solid black; */
    }
    
    .brand {
        transform: rotate(-90deg);
        white-space: nowrap;
        font-size: 1.4rem;
        position: absolute;
        top: 116px;
        left: -1000px;
        animation: brand 0.5s forwards;
        animation-delay: 4s;
    }

    @keyframes brand {
        from {
            left: -1000px;
        }
    
        to {
            left: -60px;
        }
    }

    .main-point {
        text-align: right;
        position: absolute;
        right: -1000px;
        bottom: 0px;
        width: 300px;
        text-align: right;
        font-size: 1.5rem;
        line-height: 1.5;
        padding-left: 3.5rem;
        animation: mainPoint 0.5s forwards;
        animation-delay: 4.1s;
    }


    /* hero section row 2 */

    #hero-section .row-2 {
        margin-top: 6rem;
        position: relative;
        bottom: 200px;
        opacity: 1;
        /* animation: rowComeUp 2s forwards; */
        animation: none;
        animation-delay: 0s;
    }
    
    @keyframes rowComeUp {
        from {
            bottom: -100px;
            opacity: 0;
        }
        to {
            bottom: 40px;
            opacity: 1;
        }
    }
    
    #hero-section .row-2 h1 {
        gap: 1.2rem;
        /* color: #de9b15; */
    }
    
    #hero-section .row-2 span {
        /* font-family: 'fira code', sans-serif; */
        font-size: 20px;
        opacity: 60%;
    }
    
    .row-2-info-wrapper .in-row-1 h1 i {
        font-size: 2rem;
        color: #2f2f2f;
        opacity: 80%;
    }
    
    .row-2-info-wrapper {
        flex-direction: column;
    }
    
    .row-2-info-wrapper .in-row-1 {
        gap: 3rem;
    }
    
    .row-2-info-wrapper .in-row-2 {
        gap: 1.5rem;
        margin-top: 6rem;
        flex-direction: column;
    }
    
    .row-2-info-wrapper .in-row-2 button {
        width: 300px;
        height: 70px;
        border: none;
        border-radius: 15px;
        font-size: 1.7rem;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 0.4rem 1.5rem;
        transition: 0.2s all ease;
    }

    .row-2-info-wrapper .in-row-2 button:hover {
        transform: scale(110%);
        transition: 0.2s all ease;
        opacity: 80%;
    }
    
    .reg-btn i {
        font-size: 1.5rem;
        margin-right: 0.4rem
    } 



    /* hero section row 2 */

    /*----------------------------------- hero section -----------------------------------*/


    /*----------------------------------- countdown -----------------------------------*/

    #countdown {
        padding: 0rem 0 0rem;
    }

    #countdown .pd-cont {
        flex-direction: column;
    }

    #countdown .pd-cont {
        background-color: transparent;
        gap: 3rem;
        color: #010101;
    }

    #countdown .pd-cont h1 {
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
        width: 350px;
        gap: 1rem;
        /* letter-spacing: 1px; */
        padding: 2.5rem 3rem;
        text-align: left;
        border-radius: 50px;
        color: #b8b8b8;
        /* box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.90) inset; */
    }

    #countdown button {
        border: none;
        border-radius: 5px;
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 0.4rem 1.5rem;
        transition: 0.2s all ease;
    }
    
    #countdown button:hover {
        transform: scale(110%);
        transition: 0.2s all ease;
        opacity: 80%;
    }
    
    #countdown .reg-btn i {
        font-size: 0.6rem;
        margin-right: 0.4rem
    }

    #countdown-timer .colon {
        font-size: 2rem;
        color: #FFF;
        position: relative;
        top: -5px;
    }

    #days,
    #hours,
    #minutes,
    #seconds {
        color: #FFF;
        font-family: 'fira code', sans-serif;
        /* padding: 10px 20px; */
        /* border-radius: 10px; */
        font-size: 2rem;
        font-weight: bold;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }

    /*----------------------------------- countdown -----------------------------------*/

    
    /*----------------------------------- support -----------------------------------*/

    #support {
        margin-top: 8rem;
    }

    .sup-main-in-cont {
        transform: scale(80%);
    }

    .sup-name h1 {
        font-size: 16px;
    }


    /*----------------------------------- support -----------------------------------*/

    /*----------------------------------- about -----------------------------------*/

    #about .row {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .in-row-1-wrap {
        flex-direction: column;
    }

    .row-1 {
        padding: 6rem 3rem;
    }

    #about .row-1 p {
        /* width: 500px; */
        margin-left: 0rem;
        margin-top: 3rem;
    }
    
    #about .row-2 .in-row-2-wrap {
        flex-direction: column;
    }


    /*----------------------------------- about -----------------------------------*/


    #sub .row {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .in-row-1-wrap {
        flex-direction: column;
    }

    .row-1 {
        padding: 6rem 3rem;
    }

    #sub .row-1 p {
        /* width: 500px; */
        margin-left: 0rem;
        margin-top: 3rem;
    }
    
    #sub .row-2 .in-row-2-wrap {
        flex-direction: column;
    }

    /*----------------------------------- sponsors -----------------------------------*/

    #sponsors .pd-cont {
        padding: 2rem;
    }

    #sponsors .worker-bee h1, .track-bee h1 {
        position: relative;
        right: 8px;
    }

    .sp-wrapper {
        align-items: center;
        flex-direction: column;
    }

    #sponsors .main-head h1 {
        flex-direction: column;
        align-items: center;
        font-size: 2.125rem;
        line-height: 1.2;
    }
    
    #sponsors .main-head h1 span:nth-child(1) {
        opacity: 40%;
        font-family: 'fira code', sans-serif;
        font-weight: 400;
        letter-spacing: -0.1rem;
    }
    
    #sponsors .main-head h1 span:nth-child(2) {
        position: relative;
        left: 0px;
    }

    .sp-in-wrapper {
        margin-top: 8rem;
        flex-direction: column;
        align-items: center;
        padding-left: 0rem;
        color: white;
    }

    .worker-bee {
        flex-direction: column;
        align-items: center;
    }
    
    .worker-bee h1 {
        align-items: center;
    }

    .track-bee {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .track-bee h1 {
        margin: 2rem 0;
        align-items: center;
    }

    .wb-wrap {
        flex-direction: column;
    }


    /*----------------------------------- sponsors -----------------------------------*/


    /*----------------------------------- sponsors and partners -----------------------------------*/

    .type-sponsors {
        color: #3fffca;
        font-size: 1.8rem;
        text-align: center;
        width: auto;
        white-space: wrap;
        overflow: hidden;
        line-height: 1.5;
        /* margin-left: 1rem; */
    }

    #sponsors-and-partners .pd-cont {
        padding: 4rem 3rem;
    }

    .sp-logo {
        width: 50px;
        height: 50px;
    }

    #sponsors-and-partners img {
        border-radius: 20px;
    }


    /*----------------------------------- sponsors and partners -----------------------------------*/

    
    /*----------------------------------- register -----------------------------------*/

    #register .pd-cont {
        padding: 6rem 3rem;
    }
    
    #register .row {
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    #register .col-1 {
        align-items: center;
        text-align: center;
    }

    #register .col-1 h1 {
        font-size: 2.125rem;
    }

    #register .col-1 p {
        font-size: 1.125rem;
    }

    #register .col-1 button {
        margin-top: 340px;
    }

    #register .col-2 {
        position: absolute;
        top: 200px;
        width: 100%;
    }


    /*----------------------------------- register -----------------------------------*/

    #myBtn {
        display: none;
    }

    /*----------------------------------- join us -----------------------------------*/

    #join-us .pd-cont {
        flex-direction: column;
    }

    #join-us .pd-cont .col-1 {
        width: 100vw;
        padding-left: 0rem;
        border-radius: 0px 0px 20px 20px;
    }

    #join-us .pd-cont .col-2 {
        width: 100vw;
        position: relative;
        height: 660px;
    }

    #join-us .pd-cont .col-2 .col-2-wrap {
        position: absolute;
        padding: 1rem 3rem 5rem;
    }
   
    #evans-cont {
        /* opacity: 0; */
        transition: 1s all ease;
    }

    #spr-cont {
        /* opacity: 1; */
        transition: 1s all ease;
    }

    #compar-cont {
        /* opacity: 0; */
        transition: 1s all ease;
    }
    
    
    /*----------------------------------- join us -----------------------------------*/


    /*----------------------------------- testimonials -----------------------------------*/

    #testimonials .pd-cont {
        padding: 5rem 2rem;
    }

    #testimonials .main-head-wrapper h1 {
        display: flex;
        flex-direction: column;
        color: #3fffca;
        align-items: center;
        justify-content: center;
    }

    #testimonials .wrapper {
        align-items: center;
    }

    .main-head-m-cont {
        left: 15px;
        transform: scale(80%);
    }



    /* threads */

    .thread-wrapper {
        flex-direction: column;
        max-width: 600px;
        height: 650px;
        overflow-y: scroll;
        padding: 2rem 1rem;
        scrollbar-color: #252525;
    }

    .thread-w {
        flex-direction: column;
    }




    /* threads */





    /*----------------------------------- testimonials -----------------------------------*/


    /*----------------------------------- footer -----------------------------------*/

    footer .pd-cont {
        padding: 3rem 3rem 0.8rem;
    }

    footer .row-1 {
        flex-direction: column;
        align-items: center;
    }

    footer .row-2 {
        margin-top: 0rem;
    }

    footer .col-2 {
        margin: 5rem 0 3rem;
    }

    footer .col-2 img {
        width: 30vw;
    }
    
    .contact-links a {
        justify-content: center;
    }

    .f-col-1-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .f-col-3-wrapper #socials {
        position: relative;
        top: 0px;
        left: -95px;
        margin-top: 0rem;
    }

    .f-col-3-wrapper #socials .cont {
        height: 100px;
    }
    
    .f-col-1-wrapper .more-links {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }
    
    /*----------------------------------- footer -----------------------------------*/


    /*----------------------------------- video -----------------------------------*/

    #video .pd-cont {
        padding: 5rem 3rem;
    }

    #video .pd-cont .wrapper {
        flex-direction: column;
        align-items: center;
    }

    iframe {
        width: 312px;
        height: 175.5px;
    }

    .vid-des-wrap {
        text-align: center;
        align-items: center;
    }

    .vid-des-wrap .main-head-des {
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
    }
    



    /*----------------------------------- video -----------------------------------*/

    /*---------------------------------- theteam ----------------------------------*/
    
    #theteam {
        overflow: hidden;
    }

    #theteam .container {
        padding: 0 1rem;
    }

    #theteam .row-1 {
        margin: 4rem 0;
        background-color: #101010;
        border-radius: 25px;
        padding: 1rem;
    }
    #theteam .row-2 {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }

    #theteam .row-2 .in-row-2 {
        flex-direction: row;
        gap: 1rem;
    }
    
    #theteam .row-2 .in-row-2 .in-row-1 {
        flex-direction: column;
        gap: 1rem;
    }

    #theteam .team-card-cont {
        justify-content: space-between;
        flex-direction: column;
        background-image: url("images/team/team_bg.png");
        background-size: contain;
        background-position: 50%;
        border-radius: 10px;
        width: 180px; 
        height: 250px;
        /* border: 1px solid black; */
    }

    #theteam .team-card img {
        width: 170px;
        height: 170px;
    }

    #theteam .team-card-cont .designation {
        color: #212121;
        position: relative;
        top: 20px;
        transition: 0.8s all ease;
    }
        
    .designation span {
        font-size: 22px;
    }
        
    #theteam .team-card-cont .person-name h1 {
        font-weight: 400;
        color: #F7f7f7;
        font-size: 12px;
    }


    /*---------------------------------- theteam ----------------------------------*/


}

